<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useConsumptionStore } from '@/store/useConsumptionStore'
import { ref } from 'vue'
import { useQuasar } from 'quasar'

const { t } = useI18n()

defineProps<{
  display: boolean;
}>()

const emit = defineEmits<{
  (e: 'update:display', value: boolean): void;
}>()

const consumptionStore = useConsumptionStore()
const electricity = ref<string>('')
const gas = ref<string>('')
const water = ref<string>('')
const { notify } = useQuasar()
const onAdd = async () => {
  await consumptionStore.addConsumption({
    electricity: parseInt(electricity.value) || null,
    gas: parseInt(gas.value) || null,
    water: parseInt(water.value) || null,
  })

  emit('update:display', false)
  notify({
    message: t('consumption.dialog.messages.added'),
    type: 'positive',
  })
}
</script>

<template>
  <QDialog
    :model-value="display"
    @update:model-value="emit('update:display', $event)"
  >
    <QCard>
      <QCardSection>
        <h2>{{ t('consumption.dialog.title') }}</h2>
        <QBtn
          color="black"
          flat
          icon="mdi-close"
          round
          size="sm"
          @click="emit('update:display', false)"
        />
      </QCardSection>

      <QCardSection>
        <QForm @submit.prevent="onAdd">
          <QInput
            v-model="electricity"
            :label="t('consumption.table.headers.electricity')"
            min="0"
            type="number"
          />
          <QInput
            v-model="gas"
            :label="t('consumption.table.headers.gas')"
            min="0"
            type="number"
          />
          <QInput
            v-model="water"
            :label="t('consumption.table.headers.water')"
            min="0"
            type="number"
          />
          <QBtn
            :label="t('consumption.dialog.form.submit')"
            color="primary"
            type="submit"
          />
        </QForm>
      </QCardSection>
    </QCard>
  </QDialog>
</template>

<style lang="scss" scoped>
@import "../../assets/style/dialogStyle";
</style>
