<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useSecurityStore } from '@/store/useSecurityStore'
import { useRoute, useRouter } from 'vue-router'

const { t } = useI18n()
const securityStore = useSecurityStore()

const router = useRouter()
const route = useRoute()
const onLogout = (): void => {
  localStorage.removeItem('token')
  securityStore.$reset()
  if (route.name !== 'Home') router.push({ name: 'Home' })
}
</script>

<template>
  <QHeader bordered class="bg-primary text-white">
    <QToolbar>
      <QToolbarTitle>
        <RouterLink :to="{name : 'Home'}">
          SMI
        </RouterLink>
      </QToolbarTitle>

      <QSeparator/>

      <span v-if="!securityStore.userIsConnected">
        <QBtn
          :label="t('authentication.login.name')"
          :to="{name: 'Login'}"
          icon="mdi-login"
          outline
          rounded
        />
        <QBtn
          :label="t('authentication.register.headerButton')"
          :to="{name: 'Register'}"
          icon="mdi-account-plus"
          outline
          rounded
        />
      </span>

      <span v-else>
        <QBtn
          :label="t('dashboard.title')"
          :to="{name: 'Dashboard'}"
          icon="mdi-monitor-dashboard"
          outline
          rounded
        />
        <QBtn
          :label="t('authentication.login.logout')"
          icon="mdi-logout"
          outline
          rounded
          @click="onLogout"
        />
      </span>
    </QToolbar>
  </QHeader>
</template>

<style lang="scss" scoped>
.q-toolbar {
  span {
    display: flex;
    column-gap: 1rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
</style>
