<script lang="ts" setup>
import { useI18n } from 'vue-i18n'

const { t } = useI18n()

interface Props {
  cancelButton?: boolean
  cancelButtonText?: string;
  confirmButton?: boolean;
  confirmButtonText?: string;
  displayed: boolean;
  fullHeight?: boolean;
  fullWidth?: boolean;
  maxWidth?: string;
  maximized?: boolean;
  minWidth?: string;
  persistent?: boolean;
  position?: 'standard' | 'top' | 'right' | 'bottom' | 'left';
  title: string;
  width?: string;
}

withDefaults(
  defineProps<Props>(),
  {
    fullHeight: false,
    fullWidth: false,
    maxWidth: '90vw',
    maximized: false,
    persistent: false,
    position: 'standard',
  },
)

const emit = defineEmits<{
  (e: 'update:displayed', newValue: boolean): void;
  (e: 'cancel'): void;
  (e: 'confirm'): void;
}>()
</script>

<template>
  <QDialog
    :full-height="fullHeight"
    :full-width="fullWidth"
    :maximized="maximized"
    :model-value="displayed"
    :persistent="persistent"
    :position="position"
    @update:model-value="emit('update:displayed', $event)"
  >
    <QCard :style="{maxWidth, width, minWidth}">
      <QCardSection class="cardHeaderSection">
        <h2>{{ title }}</h2>

        <QBtn
          flat
          icon="mdi-close"
          round
          size="sm"
          @click="emit('update:displayed', false)"
        />
      </QCardSection>
      <QCardSection>
        <slot/>
      </QCardSection>

      <QCardActions class="cardFooterActions">
        <QBtn
          v-if="cancelButton"
          :label="cancelButtonText || t('core.actions.cancel')"
          color="primary"
          outline
          @click="emit('cancel')"
        />
        <QBtn
          v-if="confirmButton"
          :label="confirmButtonText || t('core.actions.confirm')"
          color="primary"
          @click="emit('confirm')"
        />
      </QCardActions>
    </QCard>
  </QDialog>
</template>

<style lang="scss">
.cardHeaderSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;

  h2 {
    margin: 0;
    font-size: 1.8em;
    line-height: 1.8em;
  }
}

.cardFooterActions {
  display: flex;
  justify-content: flex-end;
}
</style>
