<script lang="ts" setup>
import type { RouteLocationRaw } from 'vue-router'
import { useSecurityStore } from '@/store/useSecurityStore'

const userStore = useSecurityStore()

defineProps<{
  description: string;
  isProtected: boolean;
  to: RouteLocationRaw;
  thumbnail: {
    alt: string;
    src: string;
  };
  title: string;
}>()
</script>

<template>
  <RouterLink v-if="!isProtected || userStore.isAdmin" :to="to">
    <QCard>
      <img
        :alt="thumbnail.alt"
        :src="thumbnail.src"
      />

      <QCardSection>
        <h2>{{ title }}</h2>
      </QCardSection>

      <QCardSection class="q-pt-none">
        <p>{{ description }}</p>
      </QCardSection>
    </QCard>
  </RouterLink>
</template>

<style lang="scss" scoped>
a {
  text-decoration: none;
  color: black;
  display: inline-grid;
  width: 100%;

  .q-card {
    > img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}
</style>
