$xs: 768px;
$sm: 1024px;
$md: 1440px;
$lg: 1920px;

@mixin container() {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;

  @media all and (min-width: $sm) {
    width: $sm;
  }
  @media all and (min-width: $md) {
    width: $md;
  }
  @media all and (min-width: $lg) {
    width: $lg;
  }

  > section {
    padding-bottom: 2rem;
  }
}
