.q-dialog {
  .q-card__section {
    &:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 3rem;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: 0.5rem 0;
    }

    p {
      span {
        font-weight: bold;
      }
    }

    .q-banner {
      margin-bottom: 1.5rem;
    }

    form {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: stretch;
      row-gap: 1.5rem;

      button {
        align-self: flex-end;
      }
    }
  }
}
