<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { computed, ref, toRefs } from 'vue'
import { Typology } from '#/Typology'
import { useQuasar } from 'quasar'

const { t } = useI18n()

const props = defineProps<{
  display: boolean;
  typology: Typology | null;
}>()
const { typology } = toRefs(props)

const emit = defineEmits<{
  (e: 'update:display', value: boolean): void;
  (e: 'update:credentials', credentials: { email: string, password: string }): void;
}>()

const email = ref<string>('')
const password = ref<string>('')

const info = computed<string>(() => {
  switch (typology.value?.Type_de_territoires) {
    case 'Commune périurbaine':
      return t('authentication.register.dialog.typology.list.suburbanCommune')
    case 'Commune multipolarisée':
      return t('authentication.register.dialog.typology.list.multiPolarizedCommune')
    case 'Pôle secondaire':
      return t('authentication.register.dialog.typology.list.secondaryPole')
    case 'Rural isolé':
      return t('authentication.register.dialog.typology.list.isolatedRural')
    case 'Urbain dense':
      return t('authentication.register.dialog.typology.list.denseUrban')
    default:
      return ''
  }
})

const { notify } = useQuasar()
const onRegister = async (): Promise<void> => {
  if (!email.value || !password.value) {
    notify({
      message: t('authentication.register.error'),
      type: 'negative',
    })
    return
  }

  emit('update:credentials', { email: email.value, password: password.value })
}
</script>

<template>
  <QDialog
    :model-value="display"
    @update:model-value="emit('update:display', $event)"
  >
    <QCard>
      <QCardSection>
        <h2>{{ t('authentication.register.dialog.title') }}</h2>
        <QBtn
          color="black"
          flat
          icon="mdi-close"
          round
          size="sm"
          @click="emit('update:display', false)"
        />
      </QCardSection>

      <QCardSection>
        <p>
          {{ t('authentication.register.dialog.typology.title') }} <span>
          {{ typology?.Type_de_territoires || '' }}
        </span> - {{ info }}
        </p>
      </QCardSection>

      <QCardSection>
        <QBanner class="bg-primary text-white">
          <template v-slot:avatar>
            <QIcon name="mdi-information"/>
          </template>
          {{ t('authentication.register.dialog.form.title') }}
        </QBanner>

        <QForm @submit.prevent="onRegister">
          <QInput
            v-model="email"
            :label="t('authentication.register.dialog.form.email')"
            type="email"
          />
          <QInput
            v-model="password"
            :label="t('authentication.register.dialog.form.password')"
            type="password"
          />
          <QBtn
            :label="t('authentication.register.dialog.form.submit')"
            color="primary"
            type="submit"
          />
        </QForm>
      </QCardSection>
    </QCard>
  </QDialog>
</template>

<style lang="scss" scoped>
@import "../../assets/style/dialogStyle";
</style>
