<script lang="ts" setup>

/* Imports */
import {Root, p50, Bullet, Label, array, ease} from '@amcharts/amcharts5'
import am5themes_Animated from '@amcharts/amcharts5/themes/Animated'
import {XYChart, AxisRendererX, CategoryAxis, ValueAxis, AxisRendererY, ColumnSeries} from '@amcharts/amcharts5/xy'
import {onMounted} from "vue";



onMounted(() => {

  /* Chart code */
// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
  let root = Root.new("chartdivDOB");


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
  root.setThemes([
    am5themes_Animated.new(root)]
  );


// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
  let chart = root.container.children.push(
      XYChart.new(root, {
        panX: false,
        panY: false,
        wheelX: "none",
        wheelY: "none"
      })
  );


// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
  let yRenderer = AxisRendererY.new(root, {minGridDistance: 30});

  let yAxis = chart.yAxes.push(
      CategoryAxis.new(root, {
        maxDeviation: 0,
        categoryField: "country",
        renderer: yRenderer
      })
  );

  let xAxis = chart.xAxes.push(
      ValueAxis.new(root, {
        maxDeviation: 0,
        min: 0,
        renderer: AxisRendererX.new(root, {})
      })
  );


// Create series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
  let series = chart.series.push(
      ColumnSeries.new(root, {
        name: "Series 1",
        xAxis: xAxis,
        yAxis: yAxis,
        valueXField: "value",
        sequencedInterpolation: true,
        categoryYField: "country"
      })
  );

  let columnTemplate = series.columns.template;

  columnTemplate.setAll({
    draggable: true,
    cursorOverStyle: "pointer",
    tooltipText: "drag to rearrange",
    cornerRadiusBR: 10,
    cornerRadiusTR: 10
  });
  columnTemplate.adapters.add("fill", (fill, target) => {
    return chart.get("colors")?.getIndex(series.columns.indexOf(target));
  });

  columnTemplate.adapters.add("stroke", (stroke, target) => {
    return chart.get("colors")?.getIndex(series.columns.indexOf(target));
  });

  columnTemplate.events.on("dragstop", () => {
    sortCategoryAxis();
  });

// Get series item by category
  function getSeriesItem(category: string) {
    for (let i = 0; i < series.dataItems.length; i++) {
      let dataItem = series.dataItems[i];
      if (dataItem.get("categoryY") == category) {
        return dataItem;
      }
    }
  }


// Axis sorting
  function sortCategoryAxis() {
    // Sort by value
    series.dataItems.sort(function (x, y) {
      return (y.get("graphics")?.y() || 0) - (x.get("graphics")?.y() || 0);
    });

    let easing = ease.out(ease.cubic);

    // Go through each axis item
    array.each(yAxis.dataItems, function (dataItem) {
      // get corresponding series item
      let seriesDataItem = getSeriesItem(dataItem.get("category") || '');

      if (seriesDataItem) {
        // get index of series data item
        let index = series.dataItems.indexOf(seriesDataItem);

        let column = seriesDataItem.get("graphics");

        // position after sorting
        let fy =
            yRenderer.positionToCoordinate(yAxis.indexToPosition(index)) -
            (column?.height() || 0) / 2;

        // set index to be the same as series data item index
        if (index != dataItem.get("index")) {
          dataItem.set("index", index);

          // current position
          let x = column?.x();
          let y = column?.y();

          column?.set("dy", -(fy - (y || 0)));
          column?.set("dx", x);

          column?.animate({key: "dy", to: 0, duration: 600, easing: easing});
          column?.animate({key: "dx", to: 0, duration: 600, easing: easing});
        } else {
          column?.animate({key: "y", to: fy, duration: 600, easing: easing});
          column?.animate({key: "x", to: 0, duration: 600, easing: easing});
        }
      }
    });

    // Sort axis items by index.
    // This changes the order instantly, but as dx and dy is set and animated,
    // they keep in the same places and then animate to true positions.
    yAxis.dataItems.sort(function (x, y) {
      return (x.get("index") || 0) - (y.get("index") || 0);
    });
  }

// Set data
  let data = [{
    country: "USA",
    value: 2025
  }, {
    country: "China",
    value: 1882
  }, {
    country: "Japan",
    value: 1809
  }, {
    country: "Germany",
    value: 1322
  }, {
    country: "UK",
    value: 1122
  }];

  yAxis.data.setAll(data);
  series.data.setAll(data);


// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
  series.appear(1000);
  chart.appear(1000, 100);

})


</script>

<template>
  <div id="chartdivDOB"/>
</template>

<style scoped>
#chartdivDOB {
  width: 100%;
  height: 400px;
}
</style>