<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useQuasar } from 'quasar'
import { ref } from 'vue'
import _axios from '@/plugins/axios'
import { User } from '#/Users'
import { AxiosError } from 'axios'
import { APIError } from '#/index'
import { useRouter } from 'vue-router'
import { useSecurityStore } from '@/store/useSecurityStore'

const { t } = useI18n()

const email = ref<string>('')
const password = ref<string>('')
const isPwd = ref<boolean>(true)

const router = useRouter()
const { notify } = useQuasar()
const securityStore = useSecurityStore()
const onLogin = async (): Promise<void> => {
  try {
    const response = await _axios.post<{ user: User, jwt: string }>('/login', {
      email: email.value,
      password: password.value,
    })

    localStorage.setItem('token', response.data.jwt)
    securityStore.initJWT()
    await securityStore.loadMe()
    await router.push({ name: 'Dashboard' })
  } catch (error) {
    notify({
      message: (error as AxiosError<APIError>).response?.data.message || t('core.genericLoadingError'),
      type: 'negative',
    })
  }
}
</script>

<template>
  <section id="login">
    <h1>{{ t('authentication.login.title') }}</h1>

    <QForm
      greedy
      @submit.prevent="onLogin"
    >
      <QInput
        v-model="email"
        :label="t('authentication.login.labels.email')"
        type="email"
      />
      <QInput
        v-model="password"
        :label="t('authentication.login.labels.password')"
        :type="isPwd ? 'password' : 'text'"
      >
        <template v-slot:append>
          <QIcon
            :name="isPwd ? 'mdi-eye-off' : 'mdi-eye'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </QInput>

      <router-link to="/forgotten-password">
        {{ t('authentication.login.forgotPassword') }}
      </router-link>

      <QBtn
        :label="t('authentication.login.labels.button')"
        color="primary"
        type="submit"
      />
    </QForm>
  </section>
</template>


<style lang="scss" scoped>
#login {
  > form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    button {
      align-self: flex-end;
    }
  }
}
</style>
