<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useRoute, useRouter } from 'vue-router'
import { onMounted, ref } from 'vue'
import _axios from '@/plugins/axios'
import { AxiosError } from 'axios'
import { APIError } from '#/index'

const { t } = useI18n()

const route = useRoute()

const title = ref<string>('')
const imgSrc = ref<string>('')
const paragraph = ref<string>('')
const button = ref<string>('')
const isLink = ref<boolean>(false)

onMounted(async () => {
  if (route.query.token) {
    try {
      await _axios.post('/email-check', { token: route.query.token })
      title.value = t('authentication.emailConfirmation.titles.success')
      imgSrc.value = '/img/mailValidated.svg'
      paragraph.value = t('authentication.emailConfirmation.paragraphs.success')
      button.value = t('authentication.emailConfirmation.buttons.login')
      isLink.value = true
    } catch (error) {
      title.value = t('authentication.emailConfirmation.titles.error')
      imgSrc.value = '/img/mailNotValidated.svg'
      paragraph.value = t('authentication.emailConfirmation.paragraphs.error', {
        error: (error as AxiosError<APIError>).response?.data.message,
      })
      if ((error as AxiosError<APIError>).response?.data.codeError === 'email.already.confirmed') {
        button.value = t('authentication.emailConfirmation.buttons.login')
        isLink.value = true
      } else {
        button.value = t('authentication.emailConfirmation.buttons.resent')
        isLink.value = false
      }
    }
  } else {
    title.value = t('authentication.emailConfirmation.titles.base')
    imgSrc.value = '/img/mail.svg'
    paragraph.value = t('authentication.emailConfirmation.paragraphs.base')
    button.value = t('authentication.emailConfirmation.buttons.resent')
    isLink.value = false
  }
})

const router = useRouter()
const email = ref<string>('')
const onResent = async () => {
  try {
    await _axios.post<{ message: string }>('email-resent', { email: email.value })
    email.value = ''

    if (route.query.token) {
      await router.replace({ name: 'EmailConfirmation' })
      title.value = t('authentication.emailConfirmation.titles.base')
      imgSrc.value = '/img/mail.svg'
      paragraph.value = t('authentication.emailConfirmation.paragraphs.base')
      button.value = t('authentication.emailConfirmation.buttons.resent')
      isLink.value = false
    }
  } catch (error) {
    console.log(error)
  }
}
</script>

<template>
  <section id="emailConfirmation">
    <h1>{{ title }}</h1>

    <img
      :src="imgSrc"
      alt="Illustration montrant un mail qui est envoyé ou validé"
    />

    <p>{{ paragraph }}</p>

    <QBtn
      v-if="isLink"
      :label="button"
      :to="{ name: 'Login' }"
      color="primary"
    />
    <QForm
      v-else
      @submit.prevent="onResent"
    >
      <h2>{{ t('authentication.emailConfirmation.form.title') }}</h2>
      <QInput
        v-model="email"
        :label="t('authentication.emailConfirmation.form.email')"
        type="email"
      />
      <QBtn
        :label="button"
        color="primary"
        type="submit"
      />
    </QForm>
  </section>
</template>

<style lang="scss" scoped>
#emailConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;

  h1 {
    margin-bottom: 0;
  }

  img {
    max-width: 100vw;
    width: 300px;
  }

  p {
    font-size: 1.1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    border-radius: 5px;

    h2 {
      font-size: 1.1rem;
      line-height: 1.1rem;
    }

    button {
      align-self: flex-end;
    }
  }
}
</style>
