<script lang="ts" setup>
import { ref } from 'vue'
import type { QForm, QOptionGroupProps, ValidationRule } from 'quasar'
import { QInput, useQuasar } from 'quasar'
import { useI18n } from 'vue-i18n'
import { HousingType } from '#/Users'
import _axios from '@/plugins/axios'
import SecurityRegisterForm from '@/components/Security/SecurityRegisterForm.vue'
import { Typology } from '#/Typology'
import { AxiosError } from 'axios'
import { APIError, OpenDataResponse } from '#/index'
import { useRouter } from 'vue-router'

const { t } = useI18n()

const form = ref<QForm | null>(null)

const rules: ValidationRule[] = [
  (v) => !!v || t('authentication.register.error'),
]

const zipCode = ref<string>('')
const codeINSEE = ref<string>('')
const housingType = ref<HousingType>('col')
const housingOptions: QOptionGroupProps['options'] = [
  {
    label: t('authentication.register.housingType.options.col'),
    value: 'col',
  },
  {
    label: t('authentication.register.housingType.options.ind'),
    value: 'ind',
  },
  {
    label: t('authentication.register.housingType.options.other'),
    value: 'other',
  },
]
const surface = ref<string>('')
const peopleNumber = ref<string>('')

const { notify, loading } = useQuasar()
const dialogCredentialsDisplayed = ref<boolean>(false)
const typology = ref<Typology | null>(null)
const onDisplayDialog = async (): Promise<void> => {
  if (!zipCode.value || !housingType.value || !surface.value || !peopleNumber.value) {
    notify({
      message: t('authentication.register.error'),
      type: 'negative',
    })
    return
  }

  loading.show()
  try {
    const responseNominatim = await _axios.get<OpenDataResponse>(
      `https://public.opendatasoft.com/api/records/1.0/search/?dataset=correspondance-code-insee-code-postal&q=${zipCode.value}`,
    )

    if (responseNominatim.data.records.length === 0) {
      notify({
        message: t('authentication.register.dialogINSEE.errors.zipCodeForeign'),
        type: 'negative',
      })
      loading.hide()
      return
    }
    const city = responseNominatim.data.records.find(cityLoaded => cityLoaded.fields.postal_code.includes(zipCode.value))
    if (!city) {
      notify({
        message: t('authentication.register.dialogINSEE.errors.zipCodeForeign'),
        type: 'negative',
      })
      loading.hide()
      return
    }

    codeINSEE.value = city.fields.insee_com
    if (!codeINSEE.value) {
      notify({
        message: t('authentication.register.dialogINSEE.errors.codeINSEENotFound'),
        type: 'negative',
      })
      loading.hide()
      return
    }

    const response = await _axios.get<Typology>(`/api/typologies/${codeINSEE.value}`)
    typology.value = response.data
    dialogCredentialsDisplayed.value = true
    loading.hide()
  } catch (e) {
    notify({
      message: (e as AxiosError<APIError>).response?.data.message || t('core.genericLoadingError'),
      type: 'negative',
    })
    loading.hide()
  }
}

const router = useRouter()
const onRegister = async (credentials: { email: string, password: string }): Promise<void> => {
  loading.show()
  try {
    await _axios.post('/register', {
      ...credentials,
      CodeINSEE: codeINSEE.value,
      primaryResidence: housingType.value,
      surface: surface.value,
      peopleNumber: peopleNumber.value,
    })
    loading.hide()
    await router.push({ name: 'EmailConfirmation' })
  } catch (e) {
    notify({
      message: (e as AxiosError<APIError>).response?.data.message || t('core.genericLoadingError'),
      type: 'negative',
    })
    loading.hide()
  }
}
</script>

<template>
  <section id="register">
    <h1>{{ t('authentication.register.title') }}</h1>

    <SecurityRegisterForm
      v-model:display="dialogCredentialsDisplayed"
      :typology="typology"
      @update:credentials="onRegister"
    />

    <QForm
      ref="form"
      greedy
      @submit.prevent="onDisplayDialog"
    >
      <QInput
        v-model="zipCode"
        :hint="t('authentication.register.zipCode.hint')"
        :label="t('authentication.register.zipCode.label')"
        :rules="rules"
      />

      <div>
        <h2 class="q-field__label">
          {{ t('authentication.register.housingType.label') }}
        </h2>
        <QOptionGroup
          v-model="housingType"
          :label="t('authentication.register.housingType.label')"
          :options="housingOptions"
          :rules="rules"
        />
      </div>

      <QInput
        v-model="surface"
        :hint="t('authentication.register.surface.hint')"
        :label="t('authentication.register.surface.label')"
        :rules="rules"
        min="0"
        type="number"
      >
        <template v-slot:append>
          m²
        </template>
      </QInput>

      <div>
        <QInput
          v-model="peopleNumber"
          :label="t('authentication.register.peopleNumber.label')"
          :rules="rules"
          min="0"
          step="0.5"
          type="number"
        >
          <template v-slot:hint>
            <p/>
          </template>
        </QInput>
        <p class="q-field__bottom">{{ t('authentication.register.peopleNumber.hint.part1') }}</p>
        <p class="q-field__bottom">{{ t('authentication.register.peopleNumber.hint.part2') }}</p>
        <p class="q-field__bottom">{{ t('authentication.register.peopleNumber.hint.part3') }}</p>
      </div>

      <footer>
        <QBtn
          :label="t('authentication.register.submit')"
          color="primary"
          type="submit"
        />
      </footer>
    </QForm>
  </section>
</template>

<style lang="scss" scoped>
#register {
  form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    > div {
      p {
        margin: 0;
      }
    }

    > footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
