<script lang="ts" setup>
import { useRoute } from 'vue-router'

const route = useRoute()
</script>

<template>
  <nav>
    <QBtn
      :disable="route.name === 'ChartsDay'"
      :to="{name: 'ChartsDay'}"
      color="primary"
      label="Quotidien"
    />
    <QBtn
      :disable="route.name === 'ChartsMonth'"
      :to="{name: 'ChartsMonth'}"
      color="primary"
      label="Mensuel"
    />
    <QBtn
      :disable="route.name === 'ChartsYear'"
      :to="{name: 'ChartsYear'}"
      color="primary"
      label="Annuel"
    />
  </nav>

  <router-view/>
</template>

<style lang="scss" scoped>
nav {
  display: flex;
  column-gap: 1rem;
  padding: 1rem 0;

  a {
    text-decoration: none;
  }
}
</style>
