<script lang="ts" setup>
import { onMounted, ref, watch } from 'vue'
import { useConsumptionStore } from '@/store/useConsumptionStore'
import { QTableProps, useQuasar } from 'quasar'
import { useI18n } from 'vue-i18n'
import { Consumption } from '#/Consumption'
import NewConsumptionDialog from '@/components/Consumption/NewConsumptionDialog.vue'
import { QTableOnRequestEvent } from '#/index'

const consumptionStore = useConsumptionStore()
const { loading } = useQuasar()
onMounted(async () => {
  loading.show()
  await consumptionStore.loadConsumptions()
  loading.hide()
})

const { t } = useI18n()
const columns: QTableProps['columns'] = [
  {
    name: 'createdAt',
    field: 'createdAt',
    required: true,
    label: t('consumption.table.headers.date'),
    sortable: true,
    sort: (a: string, b: string, rowA: Consumption, rowB: Consumption) => {
      if (rowA.createdAt.isAfter(rowB.createdAt)) return 1
      if (rowA.createdAt.isBefore(rowB.createdAt)) return -1
      return 0
    },
  },
  {
    name: 'electricity',
    field: 'electricity',
    label: t('consumption.table.headers.electricity'),
    sortable: true,
  },
  {
    name: 'gas',
    field: 'gas',
    label: t('consumption.table.headers.gas'),
    sortable: true,
  },
  {
    name: 'water',
    field: 'water',
    label: t('consumption.table.headers.water'),
    sortable: true,
  },
]

const formDialogDisplay = ref<boolean>(false)

const tableId = ref<string>('id')
watch(() => consumptionStore.consumptions, () => {
  tableId.value = `${(consumptionStore.consumptionPagination.page || 0) + 1}-${(consumptionStore.consumptionPagination.count) || 0}`
})

const onUpdate = async (fieldUpdated: 'electricity' | 'gas' | 'water', value: string, id: number) => {
  await consumptionStore.updateConsumption(fieldUpdated, parseInt(value), id)
}

const onUpdatePagination = async ({ pagination }: QTableOnRequestEvent) => {
  loading.show()
  consumptionStore.consumptionPagination.page = pagination.page
  consumptionStore.consumptionPagination.limit = pagination.rowsPerPage
  consumptionStore.consumptions = []
  await consumptionStore.loadConsumptions()
  loading.hide()
}
</script>

<template>
  <section id="consumption">
    <NewConsumptionDialog v-model:display="formDialogDisplay"/>

    <QTable
      :key="tableId"
      :columns="columns"
      :loading="loading.isActive"
      :pagination="{
        page: consumptionStore.consumptionPagination.page,
        rowsPerPage: consumptionStore.consumptionPagination.limit,
        rowsNumber: consumptionStore.consumptionPagination.count,
      }"
      :rows="consumptionStore.consumptions"
      :rows-per-page-options="[10, 25, 50, 100]"
      @request="onUpdatePagination"
    >
      <template v-slot:body="props">
        <QTr :props="props">
          <QTd key="createdAt" :props="props">
            {{ props.row.createdAt.format('DD/MM/YYYY HH:mm') }}
          </QTd>
          <QTd key="electricity" :props="props">
            {{ props.row.electricity || `N/A` }} ({{ props.row.electricityCO2 }})
            <QPopupEdit
              v-slot="scope"
              :label-set="t('consumption.table.popups.submit')"
              :model-value="props.row.electricity"
              :title="t('consumption.table.popups.electricity')"
              buttons
              @update:model-value="onUpdate('electricity', $event, props.row.id)"
            >
              <QInput
                v-model="scope.value"
                autofocus
                dense
                type="number"
              />
            </QPopupEdit>
          </QTd>
          <QTd key="gas" :props="props">
            {{ props.row.gas || `N/A` }} ({{ props.row.gasCO2 }})
            <QPopupEdit
              v-slot="scope"
              :label-set="t('consumption.table.popups.submit')"
              :model-value="props.row.gas"
              :title="t('consumption.table.popups.gas')"
              buttons
              @update:model-value="onUpdate('gas', $event, props.row.id)"
            >
              <QInput
                v-model="scope.value"
                autofocus
                dense
                type="number"
              />
            </QPopupEdit>
          </QTd>
          <QTd key="water" :props="props">
            {{ props.row.water || `N/A` }} ({{ props.row.waterCO2 }})
            <QPopupEdit
              v-slot="scope"
              :label-set="t('consumption.table.popups.submit')"
              :model-value="props.row.water"
              :title="t('consumption.table.popups.water')"
              buttons
              @update:model-value="onUpdate('water', $event, props.row.id)"
            >
              <QInput
                v-model="scope.value"
                autofocus
                dense
                type="number"
              />
            </QPopupEdit>
          </QTd>
        </QTr>
      </template>

      <template v-slot:top="props">
        <h1>{{ t('dashboard.consumption.title') }}</h1>
        <QBanner
          class="bg-info"
          rounded
        >
          <template #avatar>
            <QIcon name="mdi-information-outline"/>
          </template>

          <p v-html="t('dashboard.consumption.info')"/>
        </QBanner>

        <QToolbar>
          <QBtn
            :label="t('consumption.table.buttons.add')"
            color="primary"
            icon="mdi-plus"
            rounded
            @click="formDialogDisplay = true"
          />
          <QBtn
            :label="t('consumption.table.buttons.charts')"
            :to="{name: 'Charts', params: {dimension: 'day'}}"
            color="primary"
            icon="mdi-chart-line"
            rounded
          />
        </QToolbar>
      </template>
    </QTable>
  </section>
</template>

<style lang="scss" scoped>
#consumption {
  .q-table__container {
    margin-top: 2rem;

    h1 {
      text-align: center;
      width: 100%;
    }

    .q-toolbar {
      display: flex;
      justify-content: flex-end;
      column-gap: 1rem;
    }

    .q-banner {
      width: 100%;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }
    }
  }
}
</style>
