<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { RouteLocationRaw } from 'vue-router'
import DashboardCard from '@/components/Core/DashboardCard.vue'

const { t } = useI18n()

interface DashboardCardProps {
  description: string;
  isProtected: boolean;
  to: RouteLocationRaw;
  thumbnail: {
    alt: string;
    src: string;
  };
  title: string;
}

const cards: DashboardCardProps[] = [
  {
    description: t('dashboard.consumption.paragraph'),
    isProtected: false,
    to: { name: 'Consumption' },
    thumbnail: {
      alt: 'Illustration montrant un cercle de compteurs (électrique, gaz, eau...).',
      src: '/img/consumption.png',
    },
    title: t('dashboard.consumption.title'),
  },
  {
    description: t('dashboard.NGC.paragraph'),
    isProtected: false,
    to: { name: 'NGC' },
    thumbnail: {
      alt: 'Illustration dessiné pour l\'application nos gestes climats montrant une ville.',
      src: '/img/illu.svg',
    },
    title: t('dashboard.NGC.title'),
  },
  {
    description: t('dashboard.settings.paragraph'),
    isProtected: true,
    to: { name: 'Settings' },
    thumbnail: {
      alt: 'Illustration une femme devant un écran géant avec pleins de fenêtres informatiques.',
      src: '/img/settings.png',
    },
    title: t('dashboard.settings.title'),
  },
]
</script>

<template>
  <section id="dashboard">
    <h1>{{ t('dashboard.title') }}</h1>

    <section>
      <DashboardCard
        v-for="card in cards"
        :key="card.title"
        :description="card.description"
        :is-protected="card.isProtected"
        :thumbnail="card.thumbnail"
        :title="card.title"
        :to="card.to"
      />
    </section>
  </section>
</template>

<style lang="scss" scoped>
@import "src/assets/style/container";

#dashboard {
  > section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: stretch;

    @media (min-width: $sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
</style>
