<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useSecurityStore } from '@/store/useSecurityStore'

const { t } = useI18n()
const securityStore = useSecurityStore()
</script>

<template>
  <section id="home">
    <h1>SMI</h1>

    <section>
      <img alt="illustration" src="/img/illu.svg"/>

      <p>Texte explication comme quoi cette appli est trop chouette.</p>

      <QBtn
        v-if="!securityStore.userIsConnected"
        :label="t('Je souhaite participer')"
        :to="{name: 'Register'}"
        color="primary"
      />
      <QBtn
        v-else
        :label="t('home.buttons.dashboard')"
        :to="{name: 'Dashboard'}"
        color="primary"
      />
    </section>
  </section>
</template>

<style lang="scss" scoped>
#home {
  > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 25px;
      max-width: 90vw;
      margin-bottom: 1rem;
    }
  }
}
</style>
