<script lang="ts" setup>
import { onMounted, ref } from 'vue'

const scriptElement = document.createElement('script')
scriptElement.src = 'https://nosgestesclimat.fr/iframe.js'
scriptElement.id = 'nosgestesclimat'

const scriptContainer = ref<HTMLDivElement | null>(null)

onMounted(() => {
  if (scriptContainer.value) {
    scriptContainer.value.appendChild(scriptElement)
  }
})
</script>

<template>
  <div ref="scriptContainer"></div>
</template>
