<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { ref } from 'vue'
import type { QTabProps } from 'quasar'
import UsersTab from '@/components/Dashboard/Tabs/UsersTab.vue'
import CorrespondingTab from '@/components/Dashboard/Tabs/CorrespondingTab.vue'

const { t } = useI18n()

const tabSelected = ref<'users' | 'corresponding'>('users')
const tabs: QTabProps[] = [
  { name: 'users', label: t('dashboard.settings.tabs.headers.users') },
  { name: 'corresponding', label: t('dashboard.settings.tabs.headers.corresponding') },
]
</script>

<template>
  <section>
    <h1>{{ t('dashboard.settings.title') }}</h1>

    <QCard>
      <QTabs
        v-model="tabSelected"
        active-color="primary"
        class="text-grey"
        indicator-color="primary"
        narrow-indicator
      >
        <QTab
          v-for="tab in tabs"
          :key="tab.name"
          :label="tab.label"
          :name="tab.name"
        />
      </QTabs>

      <QSeparator/>

      <QTabPanels v-model="tabSelected" animated>
        <QTabPanel name="users">
          <UsersTab/>
        </QTabPanel>
        <QTabPanel name="corresponding">
          <CorrespondingTab/>
        </QTabPanel>
      </QTabPanels>
    </QCard>
  </section>
</template>

<style lang="scss" scoped>

</style>
