<template>
  <section>
    <img
      alt="Illustration montrant un policier indiquant que la voie est interdite"
      src="/img/403.png"
    />
  </section>
</template>

<style lang="scss" scoped>
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 102px);
  width: 100%;

  img {
    max-width: 100%;
    max-height: 50vh;
  }
}
</style>
