<script lang="ts" setup>
import DurationOnValueAxis from "@/components/DataCharts/DurationOnValueAxis.vue"
import RealTimeDataSorting from "@/components/DataCharts/RealTimeDataSorting.vue"
import DragOrderingBars from "@/components/DataCharts/DragOrderingBars.vue"
</script>

<template>
  <section>
    <h2>SMI-9: Construction de l'affichage des données de consommation électrique quotidienne</h2>
    <p>Affichage de plusieurs graphiques représentant les données de consommation électrique quotidiennes.</p>

    <div>
      <h3>SMI-13: Affichage d'un histogramme de consommation électrique quotidienne</h3>
      <p>Afficher la consommation électrique du jour consulté sur une échelle temporelle la plus fine possible (à voir)
        avec un affichage comparatif du jour précédent (faire la différence entre jour ouvré et week-end). Ajouter sur
        le graphique les données d’un “jour moyen” (faire la différence entre jour ouvré et week-end).</p>
      <DurationOnValueAxis/>
    </div>

    <div>
      <h3>SMI-15: Affichage d'un graphique de comparaison consommation du jour / moyenne</h3>
      <p>Affichage d’un histogramme simple à deux barres : une pour la consommation totale du jour et une autre
        affichant la consommation totale d’un jour “moyen”. Afficher également le taux d'évolution avec une flèche ou un
        autre symbole clair</p>
      <div class="flex-center">
        <RealTimeDataSorting/>
        <div id="result"><i class="mdi-triangle"></i> 5.42% Increase in cost</div>
      </div>
    </div>

    <div>
      <h3>SMI-16: Affichage d'un graphique de consommation des équipements (jour)</h3>
      <p>Affichage de la consommation électrique quotidienne pour chaque équipement/groupe d'équipements présent dans le
        domicile.</p>
      <DragOrderingBars/>
    </div>
  </section>
</template>

<style scoped>
#result {
  color: red;
  margin-left: 60px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

</style>
