<script lang="ts" setup>

import DurationOnValueAxis from "@/components/DataCharts/DurationOnValueAxis.vue"
import RealTimeDataSorting from "@/components/DataCharts/RealTimeDataSorting.vue"
import DragOrderingBars from "@/components/DataCharts/DragOrderingBars.vue"
</script>

<template>
  <section>
    <h2>SMI-11: Construction de l'affichage des données de consommation électrique mensuelle</h2>
    Affichage de plusieurs graphiques représentant les données de consommation électrique mensuelles.

    <div>
      <h3>SMI-17: Affichage d'un histogramme de consommation électrique mensuelle</h3>
      Afficher la consommation électrique du mois consulté avec un affichage comparatif du mois précédent. Ajouter sur le graphique les données d’un “mois moyen”
      <DurationOnValueAxis/>
    </div>

    <div>
      <h3>SMI-18: Affichage d'un graphique de comparaison consommation du mois / moyenne</h3>
      Affichage d’un histogramme simple à deux barres : une pour la consommation totale du mois et une autre affichant la consommation totale d’un mois “moyen”. Afficher également le taux d'évolution avec une flèche ou un autre symbole clair
      <div class="flex-center">
        <RealTimeDataSorting/>
        <div id="result"><i class="mdi-triangle"></i> 5.42% Increase in cost</div>
      </div>
    </div>

    <div>
      <h3>SMI-19: Affichage d'un graphique de consommation des équipements (mois)</h3>
      Affichage de la consommation électrique mensuelle pour chaque équipement/groupe d'équipements présent dans le domicile.
      <DragOrderingBars/>
    </div>
  </section>
</template>

<style scoped>
#result {
  color: red;
  margin-left: 60px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

</style>