<script lang="ts" setup>
import RealTimeDataSorting from "@/components/DataCharts/RealTimeDataSorting.vue"
import DragOrderingBars from "@/components/DataCharts/DragOrderingBars.vue"
</script>

<template>
  <section>
    <h2>SMI-12: Construction de l'affichage des données de consommation électrique annuelle</h2>
    Affichage de plusieurs graphiques représentant les données de consommation électrique annuelles.

    <div>
      <h3>SMI-24: Affichage d'un histogramme de consommation annuelle de comparaison</h3>
      Affichage d’un histogramme à trois entrées : la consommation de l’année de référence, la consommation annuelle actuelle (avec affichage du taux d'évolution) et la consommation d’un “foyer exemple” reprenant les données d’un ménage aux caractéristiques similaires (type de bâti, surface habitée, nombre de personnes dans le ménage…).
      <RealTimeDataSorting/>
    </div>

    <div>
      <h3>SMI-25: Affichage d'un graphique comparant la consommation annuelle des foyers similaires entre eux</h3>
      Affichage d’un graphique comparant la consommation annuelle électrique de foyers similaires. Cela permet à l’utilisateur de rapidement situé son niveau de consommation par rapport à d’autres et d’aider à la sensibilisation en plus de rester informatif
      <div class="flex-center">
        <RealTimeDataSorting/>
        <div id="result">
          <i class="mdi-triangle"/>
          Votre consommation de référence avant le début du défi: 18.474 kWh/an
        </div>
      </div>
    </div>

    <div>
      <h3>SMI-26: Affichage d'un graphique de consommation des équipements (année)</h3>
      Affichage de la consommation électrique annuelle pour chaque équipement/groupe d'équipements présent dans le domicile. Affichage de la consommation du foyer similaire le plus vertueux par dessus les données pour comparaison.
      <DragOrderingBars/>
    </div>
  </section>
</template>

<style scoped>
#result {
  color: darkgreen;
  margin-left: 60px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

</style>
