<script lang="ts" setup>
import { ref } from 'vue'
import type { CorrespondingCreation } from '#/Corresponding'
import { useI18n } from 'vue-i18n'
import { QInput, useQuasar } from 'quasar'
import { useCorrespondingStore } from '@/store/useCorrespondingStore'
import { AxiosError } from 'axios'

const emit = defineEmits<{
  (e: 'cancel'): void,
  (e: 'created'): void,
}>()

const { t } = useI18n()

const corresponding = ref<CorrespondingCreation>({
  gas: 0,
  electricity: 0,
  waterElec: 0,
  waterCO2: 0,
})

const rules: QInput['rules'] = [
  (v: string) => !!v || t('core.errors.required'),
  (v: string) => !isNaN(Number(v)) || t('core.errors.number'),
]

const correspondingStore = useCorrespondingStore()
const correspondingForm = ref<HTMLFormElement | null>(null)
const { loading, notify } = useQuasar()
const onSubmit = async () => {
  try {
    const success = await correspondingForm.value?.validate()
    if (success) {
      await correspondingStore.createCorresponding(corresponding.value)
      notify({
        type: 'positive',
        message: t('dashboard.settings.tabs.corresponding.dialog.success'),
      })
      emit('created')
      corresponding.value = {
        gas: 0,
        electricity: 0,
        waterElec: 0,
        waterCO2: 0,
      }
    }
  } catch (e) {
    notify({
      type: 'negative',
      message: (e as AxiosError).response?.data?.message || t('core.errors.genericServer'),
    })
  }
}
</script>

<template>
  <QForm
    ref="correspondingForm"
    greedy
    @submit.prevent="onSubmit"
  >
    <QBanner
      class="bg-info"
      rounded
    >
      <template #avatar>
        <QIcon name="mdi-information-outline"/>
      </template>

      {{ t('dashboard.settings.tabs.corresponding.dialog.banner') }}
    </QBanner>

    <QInput
      v-model="corresponding.electricity"
      :label="t('dashboard.settings.tabs.corresponding.dialog.form.electricity')"
      :rules="rules"
      step="0.001"
      type="number"
    />

    <QInput
      v-model="corresponding.gas"
      :label="t('dashboard.settings.tabs.corresponding.dialog.form.gas')"
      :rules="rules"
      step="0.001"
      type="number"
    />

    <QInput
      v-model="corresponding.waterElec"
      :label="t('dashboard.settings.tabs.corresponding.dialog.form.water.waterElec')"
      :rules="rules"
      step="0.001"
      type="number"
    />

    <QInput
      v-model="corresponding.waterCO2"
      :label="t('dashboard.settings.tabs.corresponding.dialog.form.water.waterCO2')"
      :rules="rules"
      step="0.001"
      type="number"
    />

    <footer>
      <QBtn
        :label="t('dashboard.settings.tabs.corresponding.dialog.form.buttons.cancel')"
        color="primary"
        outline
        type="reset"
        @click="emit('cancel')"
      />

      <QBtn
        :label="t('dashboard.settings.tabs.corresponding.dialog.form.buttons.add')"
        color="primary"
        type="submit"
      />
    </footer>
  </QForm>
</template>

<style lang="scss" scoped>
form {
  .q-banner {
    margin-bottom: 1rem;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
  }
}
</style>
