<script lang="ts" setup>
import type { QTableProps } from 'quasar'
import { useQuasar } from 'quasar'
import { onMounted, ref } from 'vue'
import { useCorrespondingStore } from '@/store/useCorrespondingStore'
import { Corresponding } from '#/Corresponding'
import CoreDialog from '@/components/Core/CoreDialog.vue'
import { useI18n } from 'vue-i18n'
import CorrespondingAddForm from '@/components/Dashboard/Tabs/CorrespondingAddForm.vue'

const { t } = useI18n()

const columns: QTableProps['columns'] = [
  {
    name: 'electricity',
    field: 'electricity',
    label: t('dashboard.settings.tabs.corresponding.table.headers.electricity'),
    sortable: false,
  },
  {
    name: 'gas',
    field: 'gas',
    label: t('dashboard.settings.tabs.corresponding.table.headers.gas'),
    sortable: false,
  },
  {
    name: 'water',
    field: (row: Corresponding) => `${row.waterElec} - ${row.waterCO2}`,
    label: t('dashboard.settings.tabs.corresponding.table.headers.water'),
    sortable: false,
  },
  {
    name: 'createdAt',
    field: (row: Corresponding) => row.createdAt.format('LLL'),
    required: true,
    label: 'Date',
    sortable: false,
  },
]

const { loading } = useQuasar()
const correspondingStore = useCorrespondingStore()
onMounted(async () => {
  loading.show()
  await correspondingStore.loadCorrespondingList()
  loading.hide()
})

const addDialogDisplayed = ref(false)
</script>

<template>
  <CoreDialog
    v-model:displayed="addDialogDisplayed"
    :title="t('dashboard.settings.tabs.corresponding.dialog.title')"
  >
    <CorrespondingAddForm
      @cancel="addDialogDisplayed = false"
      @created="addDialogDisplayed = false"
    />
  </CoreDialog>

  <QTable
    :columns="columns"
    :rows="correspondingStore.corresponding"
  >
    <template #top>
      <h2>{{ t('dashboard.settings.tabs.corresponding.table.title') }}</h2>
      <QBtn
        color="primary"
        icon="mdi-plus"
        round
        title="Ajouter une correspondance"
        @click="addDialogDisplayed = true"
      />
    </template>
  </QTable>
</template>

<style lang="scss" scoped>
.q-table__container {
  ::v-deep(.q-table__top) {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
  }
}
</style>
