<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { ref } from 'vue'
import { useUserStore } from '@/store/useUserStore'
import { QTableProps, useQuasar } from 'quasar'
import { User } from '#/Users'
import dayjs from 'dayjs'
import _axios from '@/plugins/axios'
import { AxiosError } from 'axios'

const { t } = useI18n()
const userSearch = ref<string>('')

const columns: QTableProps['columns'] = [
  {
    name: 'email',
    field: 'email',
    label: t('dashboard.settings.tabs.users.table.headers.email'),
  },
  {
    name: 'emailConfirmed',
    field: 'emailConfirmed',
    label: t('dashboard.settings.tabs.users.table.headers.emailConfirmed'),
  },
  {
    name: 'isAdmin',
    field: 'isAdmin',
    label: t('dashboard.settings.tabs.users.table.headers.isAdmin'),
  },
  {
    name: 'primaryResidence',
    field: (user: User) => {
      switch (user.primaryResidence) {
        case 'ind':
          return t('dashboard.settings.tabs.users.table.headers.primaryResidence.types.apartment')
        case 'col':
          return t('dashboard.settings.tabs.users.table.headers.primaryResidence.types.house')
        case 'other':
          return t('dashboard.settings.tabs.users.table.headers.primaryResidence.types.other')
      }
    },
    label: t('dashboard.settings.tabs.users.table.headers.primaryResidence.header'),
  },
  {
    name: 'surface',
    field: 'surface',
    label: t('dashboard.settings.tabs.users.table.headers.surface'),
  },
  {
    name: 'codeINSEE',
    field: 'CodeINSEE',
    label: t('dashboard.settings.tabs.users.table.headers.codeINSEE'),
  },
  {
    name: 'peopleNumber',
    field: 'peopleNumber',
    label: t('dashboard.settings.tabs.users.table.headers.peopleNumber'),
  },
  {
    name: 'createdAt',
    field: (user: User) => dayjs(user.createdAt).format('LLL'),
    label: t('dashboard.settings.tabs.users.table.headers.createdAt'),
  },
  {
    name: 'updatedAt',
    field: (user: User) => dayjs(user.updatedAt).format('LLL'),
    label: t('dashboard.settings.tabs.users.table.headers.updatedAt'),
  },
]

const { loading, notify } = useQuasar()
const userStore = useUserStore()

const onLoadUser = async () => {
  try {
    loading.show()
    await userStore.loadUsersByMail(userSearch.value)
    loading.hide()
  } catch (e) {
    notify({
      type: 'negative',
      message: (e as AxiosError).response?.data?.message || t('core.errors.genericServer'),
    })
    loading.hide()
  }
}

const onSwitchToAdmin = async (user: User, newValue: boolean) => {
  try {
    loading.show()
    await _axios.patch('/api/users/' + user.id, { isAdmin: newValue })
    await userStore.loadUsersByMail(userSearch.value)
    loading.hide()
  } catch (e) {
    notify({
      type: 'negative',
      message: (e as AxiosError).response?.data?.message || t('core.errors.genericServer'),
    })
    loading.hide()
  }
}
</script>

<template>
  <QTable
    :columns="columns"
    :rows="userStore.users"
  >
    <template #top-left>
      <h2>{{ t('dashboard.settings.tabs.users.table.title') }}</h2>
    </template>
    <template #top-right>
      <QForm @submit.prevent="onLoadUser">
        <QInput
          v-model="userSearch"
          :label="t('dashboard.settings.tabs.users.table.form.label')"
          dense
        >
          <template #append>
            <QIcon name="mdi-magnify"/>
          </template>
        </QInput>

        <QBtn
          :label="t('dashboard.settings.tabs.users.table.form.button')"
          color="primary"
          type="submit"
        />
      </QForm>
    </template>

    <template #body-cell-emailConfirmed="props">
      <QTd :props="props">
        <QIcon
          v-if="props.row.emailConfirmed"
          color="positive"
          name="mdi-check"
        />
        <QIcon
          v-else
          color="negative"
          name="mdi-close"
        />
      </QTd>
    </template>

    <template #body-cell-isAdmin="props">
      <QTd :props="props">
        <QToggle
          :model-value="props.row.isAdmin"
          color="primary"
          @update:model-value="onSwitchToAdmin(props.row, $event)"
        />
      </QTd>
    </template>
  </QTable>
</template>

<style lang="scss" scoped>
.q-table__container {
  ::v-deep(.q-table__control:last-of-type) {
    form {
      display: flex;
      column-gap: 1rem;
    }
  }
}
</style>
