<script lang="ts" setup>
import CoreFooter from '@/components/Core/CoreFooter.vue'
import CoreHeader from '@/components/Core/CoreHeader.vue'
import { onMounted } from 'vue'
import { useSecurityStore } from '@/store/useSecurityStore'

const securityStore = useSecurityStore()
onMounted(async () => {
  securityStore.initJWT()
  if (securityStore.userIsConnected) {
    await securityStore.loadMe()
  }
})
</script>

<template>
  <QLayout view="hHh LpR fff">
    <CoreHeader/>

    <QPageContainer>
      <RouterView/>
    </QPageContainer>

    <CoreFooter/>
  </QLayout>
</template>

<style lang="scss">
@import "src/assets/style/container";

#app {
  .q-page-container {
    @include container;

    h1 {
      text-align: center;
      font-size: 1.7rem;
      margin: 1.5rem 0;
      line-height: 1.9rem;

      @media all and (min-width: $sm) {
        font-size: 1.9rem;
        margin: 1.7rem 0;
        line-height: 2.1rem;
      }
    }

    h2 {
      margin: 1.1rem 0;
      font-size: 1.3rem;
      line-height: 1.5rem;

      @media all and (min-width: $sm) {
        margin: 1.3rem 0;
        font-size: 1.5rem;
        line-height: 1.7rem;
      }
    }
  }
}
</style>
